.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}
